openapi: 3.1.0
servers:
  - url: https://gen.pollinations.ai
info:
  title: pollinations.ai API
  description: |-
    Documentation for `gen.pollinations.ai` - the pollinations.ai API gateway.

    [📝 Edit docs](https://github.com/pollinations/pollinations/edit/master/enter.pollinations.ai/src/routes/docs.ts)

    ## Quick Start

    Get your API key at https://enter.pollinations.ai

    ### Image Generation
    ```bash
    curl 'https://gen.pollinations.ai/image/a%20cat?model=flux' \
      -H 'Authorization: Bearer YOUR_API_KEY'
    ```

    ### Text Generation
    ```bash
    curl 'https://gen.pollinations.ai/v1/chat/completions' \
      -H 'Authorization: Bearer YOUR_API_KEY' \
      -H 'Content-Type: application/json' \
      -d '{"model": "openai", "messages": [{"role": "user", "content": "Hello"}]}'
    ```

    ### Vision (Image Input)
    ```bash
    curl 'https://gen.pollinations.ai/v1/chat/completions' \
      -H 'Authorization: Bearer YOUR_API_KEY' \
      -H 'Content-Type: application/json' \
      -d '{"model": "openai", "messages": [{"role": "user", "content": [{"type": "text", "text": "Describe this image"}, {"type": "image_url", "image_url": {"url": "https://example.com/image.jpg"}}]}]}'
    ```

    **Gemini Tools:** `gemini`, `gemini-large` have `code_execution` enabled (can generate images/plots). `gemini-search` has `google_search` enabled. Responses may include `content_blocks` with `image_url`, `text`, or `thinking` types.

    ### Simple Text Endpoint
    ```bash
    curl 'https://gen.pollinations.ai/text/hello?key=YOUR_API_KEY'
    ```

    ### Streaming
    ```bash
    curl 'https://gen.pollinations.ai/v1/chat/completions' \
      -H 'Authorization: Bearer YOUR_API_KEY' \
      -H 'Content-Type: application/json' \
      -d '{"model": "openai", "messages": [{"role": "user", "content": "Write a poem"}], "stream": true}' \
      --no-buffer
    ```

    ### Model Discovery
    **Always check available models before testing:**

    - **Image models:** [/image/models](https://gen.pollinations.ai/image/models)
    - **Text models:** [/v1/models](https://gen.pollinations.ai/v1/models)

    ## Authentication

    **Two key types (both consume Pollen from your balance):**
    - **Publishable Keys (`pk_`):** ⚠️ **Beta - not yet ready for production use.** For client-side apps, IP rate-limited (1 pollen per IP per hour). **Warning:** Exposing in public code will consume your Pollen if your app gets traffic.
    - **Secret Keys (`sk_`):** Server-side only, no rate limits. Keep secret - never expose publicly.

    **Auth methods:**
    1. Header: `Authorization: Bearer YOUR_API_KEY`
    2. Query param: `?key=YOUR_API_KEY`

    ## Account Management

    Check your balance and usage:

    ```bash
    # Check pollen balance
    curl 'https://gen.pollinations.ai/account/balance' \
      -H 'Authorization: Bearer YOUR_API_KEY'

    # Get profile info
    curl 'https://gen.pollinations.ai/account/profile' \
      -H 'Authorization: Bearer YOUR_API_KEY'

    # View usage history
    curl 'https://gen.pollinations.ai/account/usage' \
      -H 'Authorization: Bearer YOUR_API_KEY'
    ```
  version: 0.3.0
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: API key from enter.pollinations.ai dashboard
  schemas:
    ErrorDetails:
      type: object
      properties:
        name:
          type: string
        stack:
          type: string
      required:
        - name
    CacheControl:
      type: object
      properties:
        type:
          type: string
          enum:
            - ephemeral
      required:
        - type
    ContentFilterSeverity:
      type: string
      enum:
        - safe
        - low
        - medium
        - high
    ContentFilterResult:
      type: object
      properties:
        hate:
          type: object
          properties:
            filtered:
              type: boolean
            severity:
              $ref: "#/components/schemas/ContentFilterSeverity"
          required:
            - filtered
            - severity
        self_harm:
          type: object
          properties:
            filtered:
              type: boolean
            severity:
              $ref: "#/components/schemas/ContentFilterSeverity"
          required:
            - filtered
            - severity
        sexual:
          type: object
          properties:
            filtered:
              type: boolean
            severity:
              $ref: "#/components/schemas/ContentFilterSeverity"
          required:
            - filtered
            - severity
        violence:
          type: object
          properties:
            filtered:
              type: boolean
            severity:
              $ref: "#/components/schemas/ContentFilterSeverity"
          required:
            - filtered
            - severity
        jailbreak:
          type: object
          properties:
            filtered:
              type: boolean
            detected:
              type: boolean
          required:
            - filtered
            - detected
        protected_material_text:
          type: object
          properties:
            filtered:
              type: boolean
            detected:
              type: boolean
          required:
            - filtered
            - detected
        protected_material_code:
          type: object
          properties:
            filtered:
              type: boolean
            detected:
              type: boolean
          required:
            - filtered
            - detected
    CompletionUsage:
      type: object
      properties:
        completion_tokens:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        completion_tokens_details:
          anyOf:
            - type: object
              properties:
                accepted_prediction_tokens:
                  type: integer
                  minimum: 0
                  maximum: 9007199254740991
                audio_tokens:
                  type: integer
                  minimum: 0
                  maximum: 9007199254740991
                reasoning_tokens:
                  type: integer
                  minimum: 0
                  maximum: 9007199254740991
                rejected_prediction_tokens:
                  type: integer
                  minimum: 0
                  maximum: 9007199254740991
            - type: "null"
        prompt_tokens:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        prompt_tokens_details:
          anyOf:
            - type: object
              properties:
                audio_tokens:
                  type: integer
                  minimum: 0
                  maximum: 9007199254740991
                cached_tokens:
                  type: integer
                  minimum: 0
                  maximum: 9007199254740991
            - type: "null"
        total_tokens:
          type: integer
          minimum: 0
          maximum: 9007199254740991
      required:
        - completion_tokens
        - prompt_tokens
        - total_tokens
    ValidationErrorDetails:
      type: object
      properties:
        name:
          type: string
        stack:
          type: string
        formErrors:
          type: array
          items:
            type: string
        fieldErrors:
          type: object
          propertyNames:
            type: string
          additionalProperties:
            type: array
            items:
              type: string
      required:
        - name
        - formErrors
        - fieldErrors
    MessageContentPart:
      anyOf:
        - type: object
          properties:
            type:
              type: string
              const: text
            text:
              type: string
            cache_control:
              $ref: "#/components/schemas/CacheControl"
          required:
            - type
            - text
        - type: object
          properties:
            type:
              type: string
              const: image_url
            image_url:
              type: object
              properties:
                url:
                  type: string
                detail:
                  type: string
                  enum:
                    - auto
                    - low
                    - high
                mime_type:
                  type: string
              required:
                - url
          required:
            - type
            - image_url
        - type: object
          properties:
            type:
              type: string
              const: video_url
            video_url:
              type: object
              properties:
                url:
                  type: string
                mime_type:
                  type: string
              required:
                - url
          required:
            - type
            - video_url
        - type: object
          properties:
            type:
              type: string
              const: input_audio
            input_audio:
              type: object
              properties:
                data:
                  type: string
                format:
                  type: string
                  enum:
                    - wav
                    - mp3
                    - flac
                    - opus
                    - pcm16
              required:
                - data
                - format
            cache_control:
              $ref: "#/components/schemas/CacheControl"
          required:
            - type
            - input_audio
        - type: object
          properties:
            type:
              type: string
              const: file
            file:
              type: object
              properties:
                file_data:
                  type: string
                file_id:
                  type: string
                file_name:
                  type: string
                file_url:
                  type: string
                mime_type:
                  type: string
            cache_control:
              $ref: "#/components/schemas/CacheControl"
          required:
            - type
            - file
        - type: object
          properties:
            type:
              type: string
          required:
            - type
          additionalProperties: {}
security:
  - bearerAuth: []
tags:
  - name: gen.pollinations.ai
    description: Generate text, images, and videos using AI models
  - name: Bring Your Own Pollen 🌸
    description: |-
      # Bring Your Own Pollen (BYOP) 🌸

      Users pay for their own AI usage. You pay $0. Ship apps without API costs.

      ## The Flow

      1. User taps "Connect with Pollinations"
      2. They sign in → get a temp API key
      3. Their pollen, your app

      ## Why BYOP?

      - **$0 costs** — 1 user or 1000, same price: free
      - **No key drama** — auth flow handles it
      - **Self-regulating** — everyone pays for their own usage
      - **Frontend only** — no backend needed

      ![Authorize Screen](https://raw.githubusercontent.com/pollinations/pollinations/main/enter.pollinations.ai/public/authorize-screen.png)

      ## URLs

      Say your app is at `https://myapp.com`

      **Auth link:**
      ```
      https://enter.pollinations.ai/authorize?redirect_url=https://myapp.com
      ```

      **With preselected options:**
      ```
      https://enter.pollinations.ai/authorize?redirect_url=https://myapp.com&permissions=profile,balance&models=flux,openai&expiry=7&budget=10
      ```

      | Param | Description | Example |
      |-------|-------------|---------|
      | `models` | Allowed models (comma-separated) | `flux,openai,gptimage` |
      | `budget` | Pollen budget limit | `10` |
      | `expiry` | Key expiry in days (default: 30) | `7` |
      | `permissions` | Account permissions | `profile,balance,usage` |

      **Redirect back:**
      ```
      https://myapp.com#api_key=sk_abc123xyz
      ```

      > Key is in the `#` fragment — never hits server logs 🔒

      ## Code

      ```javascript
      // 1. Send user to auth
      window.location.href = `https://enter.pollinations.ai/authorize?redirect_url=${encodeURIComponent(location.href)}`;

      // 2. Grab key from URL after redirect
      const apiKey = new URLSearchParams(location.hash.slice(1)).get('api_key');

      // 3. Use their pollen
      fetch('https://gen.pollinations.ai/v1/chat/completions', {
        method: 'POST',
        headers: { 'Authorization': `Bearer ${apiKey}`, 'Content-Type': 'application/json' },
        body: JSON.stringify({ model: 'openai', messages: [{ role: 'user', content: 'yo' }] })
      });
      ```

      Keys expire in 30 days · revoke anytime from dashboard

      ---

      [📝 Edit this doc](https://github.com/pollinations/pollinations/edit/main/BRING_YOUR_OWN_POLLEN.md) · *h/t [Puter.js](https://docs.puter.com/user-pays-model/) for pioneering this*
paths:
  /polar/customer/state: {}
  /polar/customer/events: {}
  /polar/customer/d1-balance: {}
  /polar/customer/portal: {}
  /polar/checkout/{slug}: {}
  /nowpayments/invoice/{pack}: {}
  /tiers/view: {}
  /api-keys: {}
  /api-keys/{id}/update: {}
  /account/profile:
    get:
      operationId: getAccountProfile
      tags:
        - gen.pollinations.ai
      description: Get user profile info (name, email, GitHub username, tier,
        createdAt, nextResetAt). Requires `account:profile` permission for API
        keys.
      responses:
        "200":
          description: User profile with name, email, githubUsername, tier, createdAt,
            nextResetAt
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    anyOf:
                      - type: string
                      - type: "null"
                    description: User's display name
                  email:
                    anyOf:
                      - type: string
                        format: email
                        pattern: ^(?!\.)(?!.*\.\.)([A-Za-z0-9_'+\-\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
                      - type: "null"
                    description: User's email address
                  githubUsername:
                    anyOf:
                      - type: string
                      - type: "null"
                    description: GitHub username if linked
                  tier:
                    type: string
                    enum:
                      - anonymous
                      - spore
                      - seed
                      - flower
                      - nectar
                      - router
                    description: User's current tier level
                  createdAt:
                    type: string
                    format: date-time
                    pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                    description: Account creation timestamp (ISO 8601)
                  nextResetAt:
                    anyOf:
                      - type: string
                        format: date-time
                        pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                      - type: "null"
                    description: Next daily pollen reset timestamp (ISO 8601)
                required:
                  - name
                  - email
                  - githubUsername
                  - tier
                  - createdAt
                  - nextResetAt
        "401":
          description: Unauthorized
        "403":
          description: Permission denied - API key missing `account:profile` permission
  /account/balance:
    get:
      operationId: getAccountBalance
      tags:
        - gen.pollinations.ai
      description: Get pollen balance. Returns the key's remaining budget if set,
        otherwise the user's total balance. Requires `account:balance`
        permission for API keys.
      responses:
        "200":
          description: Balance (remaining pollen)
          content:
            application/json:
              schema:
                type: object
                properties:
                  balance:
                    type: number
                    description: Remaining pollen balance (combines tier, pack, and crypto balances)
                required:
                  - balance
        "401":
          description: Unauthorized
        "403":
          description: Permission denied - API key missing `account:balance` permission
  /account/usage:
    get:
      operationId: getAccountUsage
      tags:
        - gen.pollinations.ai
      description: Get request history and spending data. Supports JSON and CSV
        formats. Requires `account:usage` permission for API keys.
      responses:
        "200":
          description: Usage records with timestamp, model, tokens, cost_usd, etc.
          content:
            application/json:
              schema:
                type: object
                properties:
                  usage:
                    type: array
                    items:
                      type: object
                      properties:
                        timestamp:
                          type: string
                          description: Request timestamp (YYYY-MM-DD HH:mm:ss format)
                        type:
                          type: string
                          description: Request type (e.g., 'generate.image', 'generate.text')
                        model:
                          anyOf:
                            - type: string
                            - type: "null"
                          description: Model used for generation
                        api_key:
                          anyOf:
                            - type: string
                            - type: "null"
                          description: API key identifier used (masked)
                        api_key_type:
                          anyOf:
                            - type: string
                            - type: "null"
                          description: Type of API key ('secret', 'publishable', 'temporary')
                        meter_source:
                          anyOf:
                            - type: string
                            - type: "null"
                          description: Billing source ('tier', 'pack', 'crypto')
                        input_text_tokens:
                          type: number
                          description: Number of input text tokens
                        input_cached_tokens:
                          type: number
                          description: Number of cached input tokens
                        input_audio_tokens:
                          type: number
                          description: Number of input audio tokens
                        input_image_tokens:
                          type: number
                          description: Number of input image tokens
                        output_text_tokens:
                          type: number
                          description: Number of output text tokens
                        output_reasoning_tokens:
                          type: number
                          description: Number of reasoning tokens (for models with chain-of-thought)
                        output_audio_tokens:
                          type: number
                          description: Number of output audio tokens
                        output_image_tokens:
                          type: number
                          description: Number of output image tokens (1 per image)
                        cost_usd:
                          type: number
                          description: Cost in USD for this request
                        response_time_ms:
                          anyOf:
                            - type: number
                            - type: "null"
                          description: Response time in milliseconds
                      required:
                        - timestamp
                        - type
                        - model
                        - api_key
                        - api_key_type
                        - meter_source
                        - input_text_tokens
                        - input_cached_tokens
                        - input_audio_tokens
                        - input_image_tokens
                        - output_text_tokens
                        - output_reasoning_tokens
                        - output_audio_tokens
                        - output_image_tokens
                        - cost_usd
                        - response_time_ms
                    description: Array of usage records
                  count:
                    type: number
                    description: Number of records returned
                required:
                  - usage
                  - count
        "401":
          description: Unauthorized
        "403":
          description: Permission denied - API key missing `account:usage` permission
      parameters:
        - in: query
          name: format
          schema:
            default: json
            type: string
            enum:
              - json
              - csv
        - in: query
          name: limit
          schema:
            default: 100
            type: number
            minimum: 1
            maximum: 50000
        - in: query
          name: before
          schema:
            type: string
  /account/usage/daily:
    get:
      operationId: getAccountUsageDaily
      tags:
        - gen.pollinations.ai
      description: Get daily aggregated usage data (last 90 days). Supports JSON and
        CSV formats. Requires `account:usage` permission for API keys. Results
        are cached for 1 hour.
      responses:
        "200":
          description: Daily usage records aggregated by date/model
          content:
            application/json:
              schema:
                type: object
                properties:
                  usage:
                    type: array
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                          description: Date (YYYY-MM-DD format)
                        model:
                          anyOf:
                            - type: string
                            - type: "null"
                          description: Model used
                        meter_source:
                          anyOf:
                            - type: string
                            - type: "null"
                          description: Billing source ('tier', 'pack', 'crypto')
                        requests:
                          type: number
                          description: Number of requests
                        cost_usd:
                          type: number
                          description: Total cost in USD
                        api_key_names:
                          type: array
                          items:
                            type: string
                          description: List of API key names used for this date/model
                      required:
                        - date
                        - model
                        - meter_source
                        - requests
                        - cost_usd
                        - api_key_names
                    description: Array of daily usage records
                  count:
                    type: number
                    description: Number of records returned
                required:
                  - usage
                  - count
        "401":
          description: Unauthorized
        "403":
          description: Permission denied - API key missing `account:usage` permission
      parameters:
        - in: query
          name: format
          schema:
            default: json
            type: string
            enum:
              - json
              - csv
  /v1/models:
    get:
      operationId: getGenerateV1Models
      tags:
        - gen.pollinations.ai
      description: Get available text models (OpenAI-compatible). If an API key with
        model restrictions is provided, only allowed models are returned.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    const: list
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        object:
                          type: string
                          const: model
                        created:
                          type: number
                      required:
                        - id
                        - object
                        - created
                      description: OpenAI-compatible model object
                required:
                  - object
                  - data
                description: OpenAI-compatible list of available models.
        "500":
          description: Oh snap, something went wrong on our end. We're on it!
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    const: 500
                  success:
                    type: boolean
                    const: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        const: INTERNAL_ERROR
                      message:
                        anyOf:
                          - type: string
                            const: Oh snap, something went wrong on our end. We're on it!
                          - type: string
                      timestamp:
                        type: string
                      details:
                        $ref: "#/components/schemas/ErrorDetails"
                      requestId:
                        type: string
                      cause: {}
                    required:
                      - code
                      - message
                      - timestamp
                      - details
                required:
                  - status
                  - success
                  - error
  /image/models:
    get:
      operationId: getGenerateImageModels
      tags:
        - gen.pollinations.ai
      description: Get a list of available image generation models with pricing,
        capabilities, and metadata. If an API key with model restrictions is
        provided, only allowed models are returned.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    aliases:
                      type: array
                      items:
                        type: string
                    pricing:
                      allOf:
                        - type: object
                          propertyNames:
                            type: string
                          additionalProperties:
                            anyOf:
                              - type: number
                              - type: string
                                const: pollen
                        - type: object
                          properties:
                            currency:
                              type: string
                              const: pollen
                          required:
                            - currency
                    description:
                      type: string
                    input_modalities:
                      type: array
                      items:
                        type: string
                    output_modalities:
                      type: array
                      items:
                        type: string
                    tools:
                      type: boolean
                    reasoning:
                      type: boolean
                    context_window:
                      type: number
                    voices:
                      type: array
                      items:
                        type: string
                    is_specialized:
                      type: boolean
                  required:
                    - name
                    - aliases
                    - pricing
                description: List of models with pricing and metadata
        "500":
          description: Oh snap, something went wrong on our end. We're on it!
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    const: 500
                  success:
                    type: boolean
                    const: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        const: INTERNAL_ERROR
                      message:
                        anyOf:
                          - type: string
                            const: Oh snap, something went wrong on our end. We're on it!
                          - type: string
                      timestamp:
                        type: string
                      details:
                        $ref: "#/components/schemas/ErrorDetails"
                      requestId:
                        type: string
                      cause: {}
                    required:
                      - code
                      - message
                      - timestamp
                      - details
                required:
                  - status
                  - success
                  - error
  /text/models:
    get:
      operationId: getGenerateTextModels
      tags:
        - gen.pollinations.ai
      description: Get a list of available text generation models with pricing,
        capabilities, and metadata. If an API key with model restrictions is
        provided, only allowed models are returned.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    aliases:
                      type: array
                      items:
                        type: string
                    pricing:
                      allOf:
                        - type: object
                          propertyNames:
                            type: string
                          additionalProperties:
                            anyOf:
                              - type: number
                              - type: string
                                const: pollen
                        - type: object
                          properties:
                            currency:
                              type: string
                              const: pollen
                          required:
                            - currency
                    description:
                      type: string
                    input_modalities:
                      type: array
                      items:
                        type: string
                    output_modalities:
                      type: array
                      items:
                        type: string
                    tools:
                      type: boolean
                    reasoning:
                      type: boolean
                    context_window:
                      type: number
                    voices:
                      type: array
                      items:
                        type: string
                    is_specialized:
                      type: boolean
                  required:
                    - name
                    - aliases
                    - pricing
                description: List of models with pricing and metadata
        "500":
          description: Oh snap, something went wrong on our end. We're on it!
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    const: 500
                  success:
                    type: boolean
                    const: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        const: INTERNAL_ERROR
                      message:
                        anyOf:
                          - type: string
                            const: Oh snap, something went wrong on our end. We're on it!
                          - type: string
                      timestamp:
                        type: string
                      details:
                        $ref: "#/components/schemas/ErrorDetails"
                      requestId:
                        type: string
                      cause: {}
                    required:
                      - code
                      - message
                      - timestamp
                      - details
                required:
                  - status
                  - success
                  - error
  /v1/chat/completions:
    post:
      operationId: postGenerateV1ChatCompletions
      tags:
        - gen.pollinations.ai
      description: >-
        OpenAI-compatible chat completions endpoint.


        **Legacy endpoint:** `/openai` (deprecated, use `/v1/chat/completions`
        instead)


        **Authentication (Secret Keys Only):**


        Include your API key in the `Authorization` header as a Bearer token:


        `Authorization: Bearer YOUR_API_KEY`


        API keys can be created from your dashboard at enter.pollinations.ai.

        Both key types consume Pollen. Secret keys have no rate limits.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  choices:
                    type: array
                    items:
                      type: object
                      properties:
                        finish_reason:
                          anyOf:
                            - type: string
                            - type: "null"
                        index:
                          type: integer
                          minimum: 0
                          maximum: 9007199254740991
                        message:
                          type: object
                          properties:
                            content:
                              anyOf:
                                - type: string
                                - type: "null"
                            tool_calls:
                              anyOf:
                                - type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        const: function
                                      function:
                                        type: object
                                        properties:
                                          name:
                                            type: string
                                          arguments:
                                            type: string
                                        required:
                                          - name
                                          - arguments
                                    required:
                                      - id
                                      - type
                                      - function
                                - type: "null"
                            role:
                              type: string
                              const: assistant
                            function_call:
                              anyOf:
                                - type: object
                                  properties:
                                    arguments:
                                      type: string
                                    name:
                                      type: string
                                  required:
                                    - arguments
                                    - name
                                - type: "null"
                            content_blocks:
                              anyOf:
                                - type: array
                                  items:
                                    anyOf:
                                      - type: object
                                        properties:
                                          type:
                                            type: string
                                            const: text
                                          text:
                                            type: string
                                          cache_control:
                                            $ref: "#/components/schemas/CacheControl"
                                        required:
                                          - type
                                          - text
                                      - type: object
                                        properties:
                                          type:
                                            type: string
                                            const: image_url
                                          image_url:
                                            type: object
                                            properties:
                                              url:
                                                type: string
                                              detail:
                                                type: string
                                                enum:
                                                  - auto
                                                  - low
                                                  - high
                                              mime_type:
                                                type: string
                                            required:
                                              - url
                                        required:
                                          - type
                                          - image_url
                                      - type: object
                                        properties:
                                          type:
                                            type: string
                                            const: thinking
                                          thinking:
                                            type: string
                                        required:
                                          - type
                                          - thinking
                                      - type: object
                                        properties:
                                          type:
                                            type: string
                                            const: redacted_thinking
                                          data:
                                            type: string
                                        required:
                                          - type
                                          - data
                                      - type: object
                                        properties:
                                          type:
                                            type: string
                                        required:
                                          - type
                                        additionalProperties: {}
                                - type: "null"
                            audio:
                              anyOf:
                                - type: object
                                  properties:
                                    transcript:
                                      type: string
                                    data:
                                      type: string
                                    id:
                                      type: string
                                    expires_at:
                                      type: integer
                                      minimum: -9007199254740991
                                      maximum: 9007199254740991
                                  required:
                                    - transcript
                                    - data
                                - type: "null"
                            reasoning_content:
                              anyOf:
                                - type: string
                                - type: "null"
                          required:
                            - role
                        logprobs:
                          anyOf:
                            - anyOf:
                                - type: object
                                  properties:
                                    content:
                                      anyOf:
                                        - type: array
                                          items:
                                            type: object
                                            properties:
                                              token:
                                                type: string
                                              logprob:
                                                type: number
                                              bytes:
                                                anyOf:
                                                  - type: array
                                                    items:
                                                      type: integer
                                                      minimum: -9007199254740991
                                                      maximum: 9007199254740991
                                                  - type: "null"
                                              top_logprobs:
                                                type: array
                                                items:
                                                  type: object
                                                  properties:
                                                    token:
                                                      type: string
                                                    logprob:
                                                      type: number
                                                    bytes:
                                                      anyOf:
                                                        - type: array
                                                          items:
                                                            type: integer
                                                            minimum: -9007199254740991
                                                            maximum: 9007199254740991
                                                        - type: "null"
                                                  required:
                                                    - token
                                                    - logprob
                                                    - bytes
                                            required:
                                              - token
                                              - logprob
                                              - bytes
                                              - top_logprobs
                                        - type: "null"
                                  required:
                                    - content
                                - type: "null"
                            - type: "null"
                        content_filter_results:
                          anyOf:
                            - $ref: "#/components/schemas/ContentFilterResult"
                            - type: "null"
                  prompt_filter_results:
                    anyOf:
                      - type: array
                        items:
                          type: object
                          properties:
                            prompt_index:
                              type: integer
                              minimum: 0
                              maximum: 9007199254740991
                            content_filter_results:
                              $ref: "#/components/schemas/ContentFilterResult"
                          required:
                            - prompt_index
                      - type: "null"
                  created:
                    type: integer
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  model:
                    type: string
                  system_fingerprint:
                    anyOf:
                      - type: string
                      - type: "null"
                  object:
                    type: string
                    const: chat.completion
                  usage:
                    $ref: "#/components/schemas/CompletionUsage"
                  user_tier:
                    type: string
                    enum:
                      - anonymous
                      - seed
                      - flower
                      - nectar
                  citations:
                    type: array
                    items:
                      type: string
                required:
                  - id
                  - choices
                  - created
                  - model
                  - object
                  - usage
        "400":
          description: Something was wrong with the input data, check the details for more
            info.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    const: 400
                  success:
                    type: boolean
                    const: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        const: BAD_REQUEST
                      message:
                        anyOf:
                          - type: string
                            const: Something was wrong with the input data, check the details for more info.
                          - type: string
                      timestamp:
                        type: string
                      details:
                        $ref: "#/components/schemas/ValidationErrorDetails"
                      requestId:
                        type: string
                      cause: {}
                    required:
                      - code
                      - message
                      - timestamp
                      - details
                required:
                  - status
                  - success
                  - error
        "401":
          description: You need to authenticate by providing a session cookie or
            Authorization header (Bearer token).
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    const: 401
                  success:
                    type: boolean
                    const: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        const: UNAUTHORIZED
                      message:
                        anyOf:
                          - type: string
                            const: You need to authenticate by providing a session cookie or Authorization
                              header (Bearer token).
                          - type: string
                      timestamp:
                        type: string
                      details:
                        $ref: "#/components/schemas/ErrorDetails"
                      requestId:
                        type: string
                      cause: {}
                    required:
                      - code
                      - message
                      - timestamp
                      - details
                required:
                  - status
                  - success
                  - error
        "402":
          description: Insufficient pollen balance or API key budget exhausted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    const: 402
                  success:
                    type: boolean
                    const: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        const: PAYMENT_REQUIRED
                      message:
                        anyOf:
                          - type: string
                            const: Insufficient pollen balance or API key budget exhausted.
                          - type: string
                      timestamp:
                        type: string
                      details:
                        $ref: "#/components/schemas/ErrorDetails"
                      requestId:
                        type: string
                      cause: {}
                    required:
                      - code
                      - message
                      - timestamp
                      - details
                required:
                  - status
                  - success
                  - error
        "403":
          description: Access denied! You don't have the required permissions for this
            resource or model.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    const: 403
                  success:
                    type: boolean
                    const: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        const: FORBIDDEN
                      message:
                        anyOf:
                          - type: string
                            const: Access denied! You don't have the required permissions for this resource
                              or model.
                          - type: string
                      timestamp:
                        type: string
                      details:
                        $ref: "#/components/schemas/ErrorDetails"
                      requestId:
                        type: string
                      cause: {}
                    required:
                      - code
                      - message
                      - timestamp
                      - details
                required:
                  - status
                  - success
                  - error
        "500":
          description: Oh snap, something went wrong on our end. We're on it!
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    const: 500
                  success:
                    type: boolean
                    const: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        const: INTERNAL_ERROR
                      message:
                        anyOf:
                          - type: string
                            const: Oh snap, something went wrong on our end. We're on it!
                          - type: string
                      timestamp:
                        type: string
                      details:
                        $ref: "#/components/schemas/ErrorDetails"
                      requestId:
                        type: string
                      cause: {}
                    required:
                      - code
                      - message
                      - timestamp
                      - details
                required:
                  - status
                  - success
                  - error
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                messages:
                  type: array
                  items:
                    anyOf:
                      - type: object
                        properties:
                          content:
                            anyOf:
                              - type: string
                              - minItems: 1
                                type: array
                                items:
                                  $ref: "#/components/schemas/MessageContentPart"
                          role:
                            type: string
                            const: system
                          name:
                            type: string
                          cache_control:
                            $ref: "#/components/schemas/CacheControl"
                        required:
                          - content
                          - role
                      - type: object
                        properties:
                          content:
                            anyOf:
                              - type: string
                              - minItems: 1
                                type: array
                                items:
                                  $ref: "#/components/schemas/MessageContentPart"
                          role:
                            type: string
                            const: developer
                          name:
                            type: string
                          cache_control:
                            $ref: "#/components/schemas/CacheControl"
                        required:
                          - content
                          - role
                      - type: object
                        properties:
                          content:
                            anyOf:
                              - type: string
                              - minItems: 1
                                type: array
                                items:
                                  $ref: "#/components/schemas/MessageContentPart"
                          role:
                            type: string
                            const: user
                          name:
                            type: string
                        required:
                          - content
                          - role
                      - type: object
                        properties:
                          content:
                            anyOf:
                              - anyOf:
                                  - type: string
                                  - minItems: 1
                                    type: array
                                    items:
                                      $ref: "#/components/schemas/MessageContentPart"
                              - type: "null"
                          role:
                            type: string
                            const: assistant
                          name:
                            type: string
                          tool_calls:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                type:
                                  type: string
                                  const: function
                                function:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                    arguments:
                                      type: string
                                  required:
                                    - name
                                    - arguments
                              required:
                                - id
                                - type
                                - function
                          function_call:
                            anyOf:
                              - type: object
                                properties:
                                  arguments:
                                    type: string
                                  name:
                                    type: string
                                required:
                                  - arguments
                                  - name
                              - type: "null"
                          cache_control:
                            $ref: "#/components/schemas/CacheControl"
                        required:
                          - role
                      - type: object
                        properties:
                          role:
                            type: string
                            const: tool
                          content:
                            anyOf:
                              - anyOf:
                                  - type: string
                                  - minItems: 1
                                    type: array
                                    items:
                                      $ref: "#/components/schemas/MessageContentPart"
                              - type: "null"
                          tool_call_id:
                            type: string
                          cache_control:
                            $ref: "#/components/schemas/CacheControl"
                        required:
                          - role
                          - content
                          - tool_call_id
                      - type: object
                        properties:
                          role:
                            type: string
                            const: function
                          content:
                            anyOf:
                              - type: string
                              - type: "null"
                          name:
                            type: string
                        required:
                          - role
                          - content
                          - name
                model:
                  default: openai
                  description: AI model for text generation. See /v1/models for full list.
                  type: string
                  enum:
                    - openai
                    - openai-fast
                    - openai-large
                    - qwen-coder
                    - mistral
                    - openai-audio
                    - gemini
                    - gemini-fast
                    - deepseek
                    - grok
                    - gemini-search
                    - chickytutor
                    - midijourney
                    - claude-fast
                    - claude
                    - claude-large
                    - perplexity-fast
                    - perplexity-reasoning
                    - kimi
                    - gemini-large
                    - gemini-legacy
                    - nova-fast
                    - glm
                    - minimax
                    - nomnom
                modalities:
                  type: array
                  items:
                    type: string
                    enum:
                      - text
                      - audio
                audio:
                  type: object
                  properties:
                    voice:
                      type: string
                      enum:
                        - alloy
                        - echo
                        - fable
                        - onyx
                        - shimmer
                        - coral
                        - verse
                        - ballad
                        - ash
                        - sage
                        - amuch
                        - dan
                    format:
                      type: string
                      enum:
                        - wav
                        - mp3
                        - flac
                        - opus
                        - pcm16
                  required:
                    - voice
                    - format
                frequency_penalty:
                  default: 0
                  anyOf:
                    - type: number
                      minimum: -2
                      maximum: 2
                    - type: "null"
                repetition_penalty:
                  anyOf:
                    - type: number
                      minimum: 0
                      maximum: 2
                    - type: "null"
                logit_bias:
                  default: null
                  anyOf:
                    - type: object
                      propertyNames:
                        type: string
                      additionalProperties:
                        type: integer
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                    - type: "null"
                logprobs:
                  default: false
                  anyOf:
                    - type: boolean
                    - type: "null"
                top_logprobs:
                  anyOf:
                    - type: integer
                      minimum: 0
                      maximum: 20
                    - type: "null"
                max_tokens:
                  anyOf:
                    - type: integer
                      minimum: 0
                      maximum: 9007199254740991
                    - type: "null"
                presence_penalty:
                  default: 0
                  anyOf:
                    - type: number
                      minimum: -2
                      maximum: 2
                    - type: "null"
                response_format:
                  anyOf:
                    - type: object
                      properties:
                        type:
                          type: string
                          const: text
                      required:
                        - type
                    - type: object
                      properties:
                        type:
                          type: string
                          const: json_schema
                        json_schema:
                          type: object
                          properties:
                            description:
                              type: string
                            name:
                              type: string
                            schema:
                              type: object
                              propertyNames:
                                type: string
                              additionalProperties: {}
                            strict:
                              default: false
                              anyOf:
                                - type: boolean
                                - type: "null"
                          required:
                            - schema
                      required:
                        - type
                        - json_schema
                    - type: object
                      properties:
                        type:
                          type: string
                          const: json_object
                      required:
                        - type
                seed:
                  anyOf:
                    - type: integer
                      minimum: -1
                      maximum: 9007199254740991
                    - type: "null"
                stop:
                  anyOf:
                    - anyOf:
                        - type: string
                        - type: "null"
                    - minItems: 1
                      maxItems: 4
                      type: array
                      items:
                        type: string
                stream:
                  default: false
                  anyOf:
                    - type: boolean
                    - type: "null"
                stream_options:
                  anyOf:
                    - type: object
                      properties:
                        include_usage:
                          type: boolean
                    - type: "null"
                thinking:
                  anyOf:
                    - type: object
                      properties:
                        type:
                          default: disabled
                          type: string
                          enum:
                            - enabled
                            - disabled
                        budget_tokens:
                          type: integer
                          minimum: 1
                          maximum: 9007199254740991
                    - type: "null"
                reasoning_effort:
                  type: string
                  enum:
                    - none
                    - minimal
                    - low
                    - medium
                    - high
                    - xhigh
                thinking_budget:
                  type: integer
                  minimum: 0
                  maximum: 9007199254740991
                temperature:
                  default: 1
                  anyOf:
                    - type: number
                      minimum: 0
                      maximum: 2
                    - type: "null"
                top_p:
                  default: 1
                  anyOf:
                    - type: number
                      minimum: 0
                      maximum: 1
                    - type: "null"
                tools:
                  type: array
                  items:
                    anyOf:
                      - type: object
                        properties:
                          type:
                            type: string
                            const: function
                          function:
                            type: object
                            properties:
                              description:
                                type: string
                              name:
                                type: string
                              parameters:
                                type: object
                                propertyNames:
                                  type: string
                                additionalProperties: {}
                              strict:
                                default: false
                                anyOf:
                                  - type: boolean
                                  - type: "null"
                            required:
                              - name
                        required:
                          - type
                          - function
                      - type: object
                        properties:
                          type:
                            type: string
                            enum:
                              - code_execution
                              - google_search
                              - google_maps
                              - url_context
                              - computer_use
                              - file_search
                        required:
                          - type
                tool_choice:
                  anyOf:
                    - type: string
                      enum:
                        - none
                        - auto
                        - required
                    - type: object
                      properties:
                        type:
                          type: string
                          const: function
                        function:
                          type: object
                          properties:
                            name:
                              type: string
                          required:
                            - name
                      required:
                        - type
                        - function
                parallel_tool_calls:
                  default: true
                  type: boolean
                user:
                  type: string
                function_call:
                  anyOf:
                    - type: string
                      enum:
                        - none
                        - auto
                    - type: object
                      properties:
                        name:
                          type: string
                      required:
                        - name
                functions:
                  minItems: 1
                  maxItems: 128
                  type: array
                  items:
                    type: object
                    properties:
                      description:
                        type: string
                      name:
                        type: string
                      parameters:
                        type: object
                        propertyNames:
                          type: string
                        additionalProperties: {}
                    required:
                      - name
                    additionalProperties: false
              required:
                - messages
  /text/{prompt}:
    get:
      operationId: getGenerateText:prompt
      tags:
        - gen.pollinations.ai
      description: >-
        Generates text from text prompts.


        **Authentication:**


        Include your API key either:

        - In the `Authorization` header as a Bearer token: `Authorization:
        Bearer YOUR_API_KEY`

        - As a query parameter: `?key=YOUR_API_KEY`


        API keys can be created from your dashboard at enter.pollinations.ai.
      responses:
        "200":
          description: Generated text response
          content:
            text/plain:
              schema:
                type: string
        "400":
          description: Something was wrong with the input data, check the details for more
            info.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    const: 400
                  success:
                    type: boolean
                    const: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        const: BAD_REQUEST
                      message:
                        anyOf:
                          - type: string
                            const: Something was wrong with the input data, check the details for more info.
                          - type: string
                      timestamp:
                        type: string
                      details:
                        $ref: "#/components/schemas/ValidationErrorDetails"
                      requestId:
                        type: string
                      cause: {}
                    required:
                      - code
                      - message
                      - timestamp
                      - details
                required:
                  - status
                  - success
                  - error
        "401":
          description: You need to authenticate by providing a session cookie or
            Authorization header (Bearer token).
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    const: 401
                  success:
                    type: boolean
                    const: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        const: UNAUTHORIZED
                      message:
                        anyOf:
                          - type: string
                            const: You need to authenticate by providing a session cookie or Authorization
                              header (Bearer token).
                          - type: string
                      timestamp:
                        type: string
                      details:
                        $ref: "#/components/schemas/ErrorDetails"
                      requestId:
                        type: string
                      cause: {}
                    required:
                      - code
                      - message
                      - timestamp
                      - details
                required:
                  - status
                  - success
                  - error
        "402":
          description: Insufficient pollen balance or API key budget exhausted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    const: 402
                  success:
                    type: boolean
                    const: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        const: PAYMENT_REQUIRED
                      message:
                        anyOf:
                          - type: string
                            const: Insufficient pollen balance or API key budget exhausted.
                          - type: string
                      timestamp:
                        type: string
                      details:
                        $ref: "#/components/schemas/ErrorDetails"
                      requestId:
                        type: string
                      cause: {}
                    required:
                      - code
                      - message
                      - timestamp
                      - details
                required:
                  - status
                  - success
                  - error
        "403":
          description: Access denied! You don't have the required permissions for this
            resource or model.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    const: 403
                  success:
                    type: boolean
                    const: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        const: FORBIDDEN
                      message:
                        anyOf:
                          - type: string
                            const: Access denied! You don't have the required permissions for this resource
                              or model.
                          - type: string
                      timestamp:
                        type: string
                      details:
                        $ref: "#/components/schemas/ErrorDetails"
                      requestId:
                        type: string
                      cause: {}
                    required:
                      - code
                      - message
                      - timestamp
                      - details
                required:
                  - status
                  - success
                  - error
        "500":
          description: Oh snap, something went wrong on our end. We're on it!
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    const: 500
                  success:
                    type: boolean
                    const: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        const: INTERNAL_ERROR
                      message:
                        anyOf:
                          - type: string
                            const: Oh snap, something went wrong on our end. We're on it!
                          - type: string
                      timestamp:
                        type: string
                      details:
                        $ref: "#/components/schemas/ErrorDetails"
                      requestId:
                        type: string
                      cause: {}
                    required:
                      - code
                      - message
                      - timestamp
                      - details
                required:
                  - status
                  - success
                  - error
      parameters:
        - in: path
          name: prompt
          schema:
            type: string
            minLength: 1
            example: Write a haiku about coding
          required: true
          description: Text prompt for generation
        - in: query
          name: model
          schema:
            default: openai
            type: string
            enum:
              - openai
              - openai-fast
              - openai-large
              - qwen-coder
              - mistral
              - openai-audio
              - gemini
              - gemini-fast
              - deepseek
              - grok
              - gemini-search
              - chickytutor
              - midijourney
              - claude-fast
              - claude
              - claude-large
              - perplexity-fast
              - perplexity-reasoning
              - kimi
              - gemini-large
              - gemini-legacy
              - nova-fast
              - glm
              - minimax
              - nomnom
          description: Text model to use for generation
        - in: query
          name: seed
          schema:
            default: 0
            type: integer
            minimum: -1
            maximum: 9007199254740991
          description: Random seed for reproducible results. Use -1 for random.
        - in: query
          name: system
          schema:
            type: string
          description: System prompt to set context/behavior for the model
        - in: query
          name: json
          schema:
            default: false
            type: boolean
          description: Return response in JSON format
        - in: query
          name: temperature
          schema:
            type: number
          description: Controls creativity (0.0=strict, 2.0=creative)
        - in: query
          name: stream
          schema:
            default: false
            type: boolean
          description: Stream response in real-time chunks
  /image/{prompt}:
    get:
      operationId: getGenerateImage:prompt{[\s\S]+}
      tags:
        - gen.pollinations.ai
      description: >-
        Generate an image or video from a text prompt.


        **Image Models:** `flux` (default), `turbo`, `gptimage`, `kontext`,
        `seedream`, `nanobanana`, `nanobanana-pro`


        **Video Models:** `veo`, `seedance`

        - `veo`: Text-to-video only (4-8 seconds)

        - `seedance`: Text-to-video and image-to-video (2-10 seconds)


        **Authentication:**


        Include your API key either:

        - In the `Authorization` header as a Bearer token: `Authorization:
        Bearer YOUR_API_KEY`

        - As a query parameter: `?key=YOUR_API_KEY`


        API keys can be created from your dashboard at enter.pollinations.ai.
      responses:
        "200":
          description: Success - Returns the generated image or video
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
            video/mp4:
              schema:
                type: string
                format: binary
        "400":
          description: Something was wrong with the input data, check the details for more
            info.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    const: 400
                  success:
                    type: boolean
                    const: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        const: BAD_REQUEST
                      message:
                        anyOf:
                          - type: string
                            const: Something was wrong with the input data, check the details for more info.
                          - type: string
                      timestamp:
                        type: string
                      details:
                        $ref: "#/components/schemas/ValidationErrorDetails"
                      requestId:
                        type: string
                      cause: {}
                    required:
                      - code
                      - message
                      - timestamp
                      - details
                required:
                  - status
                  - success
                  - error
        "401":
          description: You need to authenticate by providing a session cookie or
            Authorization header (Bearer token).
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    const: 401
                  success:
                    type: boolean
                    const: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        const: UNAUTHORIZED
                      message:
                        anyOf:
                          - type: string
                            const: You need to authenticate by providing a session cookie or Authorization
                              header (Bearer token).
                          - type: string
                      timestamp:
                        type: string
                      details:
                        $ref: "#/components/schemas/ErrorDetails"
                      requestId:
                        type: string
                      cause: {}
                    required:
                      - code
                      - message
                      - timestamp
                      - details
                required:
                  - status
                  - success
                  - error
        "402":
          description: Insufficient pollen balance or API key budget exhausted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    const: 402
                  success:
                    type: boolean
                    const: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        const: PAYMENT_REQUIRED
                      message:
                        anyOf:
                          - type: string
                            const: Insufficient pollen balance or API key budget exhausted.
                          - type: string
                      timestamp:
                        type: string
                      details:
                        $ref: "#/components/schemas/ErrorDetails"
                      requestId:
                        type: string
                      cause: {}
                    required:
                      - code
                      - message
                      - timestamp
                      - details
                required:
                  - status
                  - success
                  - error
        "403":
          description: Access denied! You don't have the required permissions for this
            resource or model.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    const: 403
                  success:
                    type: boolean
                    const: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        const: FORBIDDEN
                      message:
                        anyOf:
                          - type: string
                            const: Access denied! You don't have the required permissions for this resource
                              or model.
                          - type: string
                      timestamp:
                        type: string
                      details:
                        $ref: "#/components/schemas/ErrorDetails"
                      requestId:
                        type: string
                      cause: {}
                    required:
                      - code
                      - message
                      - timestamp
                      - details
                required:
                  - status
                  - success
                  - error
        "500":
          description: Oh snap, something went wrong on our end. We're on it!
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    const: 500
                  success:
                    type: boolean
                    const: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        const: INTERNAL_ERROR
                      message:
                        anyOf:
                          - type: string
                            const: Oh snap, something went wrong on our end. We're on it!
                          - type: string
                      timestamp:
                        type: string
                      details:
                        $ref: "#/components/schemas/ErrorDetails"
                      requestId:
                        type: string
                      cause: {}
                    required:
                      - code
                      - message
                      - timestamp
                      - details
                required:
                  - status
                  - success
                  - error
      parameters:
        - in: path
          name: prompt
          schema:
            type: string
            minLength: 1
            example: a beautiful sunset over mountains
          required: true
          description: Text description of the image or video to generate
        - in: query
          name: model
          schema:
            default: zimage
            type: string
            enum:
              - kontext
              - turbo
              - nanobanana
              - nanobanana-pro
              - seedream
              - seedream-pro
              - gptimage
              - gptimage-large
              - flux
              - zimage
              - veo
              - seedance
              - seedance-pro
              - wan
              - klein
              - klein-large
          description: "AI model. Image: flux, zimage, turbo, gptimage, kontext, seedream,
            seedream-pro, nanobanana. Video: veo, seedance, seedance-pro"
        - in: query
          name: width
          schema:
            default: 1024
            type: integer
            minimum: 0
            maximum: 9007199254740991
          description: Image width in pixels
        - in: query
          name: height
          schema:
            default: 1024
            type: integer
            minimum: 0
            maximum: 9007199254740991
          description: Image height in pixels
        - in: query
          name: seed
          schema:
            default: 0
            type: integer
            minimum: -1
            maximum: 2147483647
          description: Random seed for reproducible results. Use -1 for random.
        - in: query
          name: enhance
          schema:
            default: false
            type: boolean
          description: Let AI improve your prompt for better results
        - in: query
          name: negative_prompt
          schema:
            default: worst quality, blurry
            type: string
          description: What to avoid in the generated image
        - in: query
          name: safe
          schema:
            default: false
            type: boolean
          description: Enable safety content filters
        - in: query
          name: quality
          schema:
            default: medium
            type: string
            enum:
              - low
              - medium
              - high
              - hd
          description: Image quality level (gptimage only)
        - in: query
          name: image
          schema:
            type: string
          description: "Reference image URL(s). Comma/pipe separated for multiple. For
            veo: image[0]=first frame, image[1]=last frame (interpolation)"
        - in: query
          name: transparent
          schema:
            default: false
            type: boolean
          description: Generate with transparent background (gptimage only)
        - in: query
          name: duration
          schema:
            type: integer
            minimum: 1
            maximum: 10
          description: "Video duration in seconds (video models only). veo: 4, 6, or 8.
            seedance: 2-10"
        - in: query
          name: aspectRatio
          schema:
            type: string
          description: "Video aspect ratio: 16:9 or 9:16 (veo, seedance)"
        - in: query
          name: audio
          schema:
            default: false
            type: boolean
          description: Enable audio generation for video (veo only)
